@model AgreementDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPrice)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DeleteConfirmation" class="btn btn-danger" /> |
        <a asp-action="Index">Close</a>
    </form>
</div>